/* Estilos generales para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ef8a2a;
    color: #fff;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: end;
}

.search-form input[type="search"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-form button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

.fa-bars {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .fa-bars,.container-navbar {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu.show-menu {
        display: flex;
    }

    .menu li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-form {
        width: 50%;
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }

    .navbar > * {
        width: 50%;
        text-align: center;
    }

    .menu li a {
        width: 100%;
        display: block;
    }
}



/* Estilo para el hover en el menú */
.menu li a:hover {
    background-color: #555;
    border-radius: 3px;
}
